<Files ~ "(?i)\.(html?)$">
	<IfModule mod_headers.c>
		Header set Pragma no-cache
		Header set Cache-Control no-cache
		Header set Expires "Thu, 01 Dec 1994 16:00:00 GMT"
	</IfModule>
</Files>
<files ~ "(?i)(^config\.php$|\.(ini|log|dat|json|inc)$)">
	Require all denied
</files>
<Files "manifest.json">
	Require all granted
</Files>

<FilesMatch "\.php$">
  AuthName      "User=sakura Password=unyu"
  AuthType      Basic
  AuthUserFile  /home/web/bts/anonymous.pwd
  <LimitExcept GET>
  Require valid-user
  </LimitExcept>
</FilesMatch>

DirectoryIndex index.html
